<div class="row">
  <div class="span9">
    <div id="contact-modal" class="modal hide fade in" style="display: none; ">  
      <%= form_for @sender.messages.new, remote:true do |f| %>
        <div class="modal-header">  
          <a class="close" data-dismiss="modal">×</a>  
          <h3>Contact <%= @sender.name %></h3>  
        </div>  
        <div class="modal-body">  
          <div class=" message-subject">
            <%= f.text_field :subject , :placeholder => "Subject",  :class => "span5 message-subject-input"%>
          </div>
          <div class=" message-body ">
            <%= f.text_area :body , :placeholder => "Type your message here...", :rows => "8", :class => "span5 message-subject-input"%>
          </div>               
        </div>  
        <div class="modal-footer">  
          <%= f.submit "Send Message", :class => "btn btn-primary" %>
          <a href="#" class="btn" data-dismiss="modal">Cancel</a>  
        </div>  
      </div>
      <%= f.hidden_field :sender_id, value: "#{current_user.id}" %>
      <%= f.hidden_field :receiver_id, value: "#{@sender.id}" %>
    <% end %>
  </div>
  <div class="span8 offset2">
    <p><strong>From:</strong> <%= @message.sender.name %></p>
    <p class="bigger grey-border-bottom"><strong>Subject:</strong> <%= @message.subject %></p>
    <p><%= @message.body %></p>
    <div class="text-right">
      <a data-toggle="modal" href="#contact-modal" class="btn btn-primary btn-large">Reply</a>
    </div>
  </div>
</div>