<div class="row">
  <div class="span10 offset1">
    <%= devise_error_messages! %>
    <div class="well clearfix">
      <h2>Request Access</h2>
      <div class="row">
        <div class="span4">
         <%= form_for resource, :as => resource_name, :url => registration_path(resource_name), html: { id: "new_registration" } do |f| %>
           <p>
             <%= f.label :avatar, "Select Profile Picture*" %><br />
             <%= f.file_field :avatar %>
           </p>
           <p>
             <%= f.label :name, "Full Name*" %>
             <%= f.text_field :name, :autofocus => true, class:"required" %>
           </p>
           <p>
             <%= f.label :email, "Email*" %>
             <%= f.email_field :email, class:"required email" %>
           </p>
           <p>
             <%= f.label :password, "Password*" %>
             <%= f.password_field :password, class:"required" %>
           </p>
           <p>
             <%= f.label :password, "Confirm Password*" %>
             <%= f.password_field :password, class:"required" %>
           </p>
         </div>
         <div class="span4 offset1">
          <p>
           <label for="organization">Organization*</label>
           <input class="required ui-autocomplete-input" data-autocomplete-source="/org_name" id="organization" name="organization" size="30" type="text" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
          </p>
          <p>
            <%= f.label :state, "State*" %>
            <%= f.select :state, us_states, class:"state required", prompt:"Select State" %><br>
          </p>
            <%= f.label :speciality_ids, "Choose Your Specialities* (choose at least 1)" %>
            <% for speciality in Speciality.find(:all) %>
              <label>
                <%= check_box_tag "user[speciality_ids][]", speciality.id, @user.specialities.include?(speciality) %>
                <%= speciality.name %>
              </label>
            <% end %>  
          </div>
        </div>
           <div><%= f.submit "Request Access", class:"btn btn-gold btn-large pull-right" %></div>
         <% end %>
       </div>
  <div class="span5">
    <%= render "devise/shared/links" %>
  </div>

</div>