<p>
  <%= @user.first_name %>,
</p>
<p>
  This is a receipt for <strong><%= link_to @post.title, post_url(@post) %></strong>
</p>
<p>
  <table>
    <tr>
      <th>Project Title</th>
      <th>Price</th>
      <th>Date</th>
    </tr>
    <tr>
      <td><%= @post.title %></td>
      <td><%= @paid %></td>
      <td><%= @commitment.nice_created_at %></td>
    </tr>
  </table>
</p>