<h4 class="h4"><%= @receiver.first_name %>, </h4>
<p>
  You have a new message in your messages on MocsforDocs.org
</p> 
  <strong>From:</strong> <%= @sender.name.titleize %>
</p>
<p>
  <strong>Subject:</strong> <%= @message.subject %>
</p>
<p>
  <%= @message.body %>
</p>
<p>
  <%= link_to "View Message", message_url(@message) %></br>
  <%= link_to "View All Messages", messages_url %>
</p>