<div class="row">

</div>
<div class="row">
  <div class="span8">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Registered (<%= @commitments.count %>)</a></li>
        <li><a href="#tab2" data-toggle="tab">Completed (<%= @completed.count %>)</a></li>
        <li><a href="#tab3", data-toggle="tab">Published (<%= @posts.count %>)</a></li>
        <li><a href="#tab4" data-toggle="tab">Not Published (<%= @unpublished_posts.count %>)</a></li>
        <li><a href="#tab5" data-toggle="tab">Ended (<%= @expired_posts.count %>)</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <%= render partial: 'posts/post', collection: @commitments, as: :post %>
        </div>
        <div class="tab-pane" id="tab2">
          <%= render partial: 'posts/post', collection: @completed, as: :post %>
        </div>
        <div class="tab-pane" id="tab3">
          <%= render @posts %>
        </div>
        <div class="tab-pane" id="tab4">
          <%= render partial: 'posts/unpublished_post', collection: @unpublished_posts, as: :post %>
        </div>
        <div class="tab-pane" id="tab5">
          <%= render partial: 'posts/post', collection: @expired_posts, as: :post %>      
        </div>
      </div><!-- tab content -->
    </div><!-- tabbable -->
  </div><!-- span8 -->
  <div class="span4">
    <div class="text-center margin-bottom">
      <%= link_to "Create a MOC Project", new_post_path, class:"btn btn-gold btn-large" %>
    </div>
    <div class="well dark">
      <p class="muted">Trending Topics</p>
      <%= render partial: "shared/tags", locals: { tags: @trending_tags }  %>
    </div>
    <div class="well dark">
      <p class="muted">Recommended Projects</p>
      <ul>
        <% @recommended_mocs.each do |tm| %>
          <%= render partial: "shared/mini_moc", locals: { m: tm }  %>
        <% end %>
      </ul>
    </div>
  </div>
</div><!-- row -->
