<div class="row">
  <div class="span9">
    <div id="contact-modal" class="modal hide fade in" style="display: none; ">  
      <%= form_for @user.messages.new, remote:true do |f| %>
        <div class="modal-header">  
          <a class="close" data-dismiss="modal">×</a>  
          <h3>Contact <%= @user.name %></h3>  
        </div>  
        <div class="modal-body">  
          <div class=" message-subject">
            <%= f.text_field :subject , :placeholder => "Subject",  :class => "span5 message-subject-input"%>
          </div>
          <div class=" message-body ">
            <%= f.text_area :body , :placeholder => "Type your message here...", :rows => "8", :class => "span5 message-subject-input"%>
          </div>               
        </div>  
        <div class="modal-footer">  
          <%= f.submit "Send Message", :class => "btn btn-primary" %>
          <a href="#" class="btn" data-dismiss="modal">Cancel</a>  
        </div>  
      </div>
      <%= f.hidden_field :sender_id, value: "#{current_user.id}" %>
      <%= f.hidden_field :receiver_id, value: "#{@user.id}" %>
    <% end %>
  </div>

  <div class="span8">
    <h3 class=""><%= @user.name %> <span class="muted">+123</span></h3>
    <div class="big clear-both">
      <strong>Organization:</strong> <%= @user.organization.name %>
    </div>
    <div class="big">
      <strong>Interests</strong> 
      <%= render partial: "shared/tags", locals: { tags: @tags }  %>
    </div>
    <div class="">
      <a data-toggle="modal" href="#contact-modal" class="btn btn-primary">Contact</a>
    </div>
    <div class="clear-both">
      <h4>Recent Activity</h4>
      <% @activities.each do |activity| %>
        <div class="activity">
        <%= link_to activity.owner.name, activity.owner if activity.owner %>
        <%= render_activity activity %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="span4">
    <div class="well dark">
      <p class="muted">Recommended Topics</p>
      <%= render partial: "shared/tags", locals: { tags: @trending_tags }  %>
    </div>

    <div class="well dark">
      <p class="muted">Recommended Projects</p>
      <% @recommended_mocs.each do |m| %>
        <%= render partial: "shared/mini_moc", locals: { m: m }  %>
      <% end %>
    </div>
  </div>
</div>