<div class="row">
  <div class="span9">
  <h3><%= @user.name %></h3>
  <em></em>
  reputation:
  <h4>About Me</h4>

  <div id="contact-modal" class="modal hide fade in" style="display: none; ">  
    <%= form_for(Message.new, remote:true) do |f| %>
      <div class="modal-header">  
        <a class="close" data-dismiss="modal">×</a>  
        <h3>Contact <%= @user.name %></h3>  
      </div>  
      <div class="modal-body">  
        <div class=" message-subject">
          <%= f.text_field :title , :placeholder => "Subject",  :class => "span5 message-subject-input"%>
        </div>
        <div class=" message-body ">
          <%= f.text_area :body , :placeholder => "Type your message here...", :rows => "8", :class => "span5 message-subject-input"%>
        </div>               
      </div>  
      <div class="modal-footer">  
        <%= f.submit "Send Message", :class => "btn btn-primary" %>
        <a href="#" class="btn" data-dismiss="modal">Close</a>  
      </div>  
    </div>
    <%= f.hidden_field :sender_id, value: "#{current_user.id}" %>
    <%= f.hidden_field :receiver_id, value: "#{@user.id}" %>
  <% end %>

  <div class="span7">
    <h3><%= @user.name %> <span class="muted">+123</span></h3>
    <h4>About Me</h4>
    <h4>Interests</h4>
    <%= render partial: "shared/tags", locals: { tags: @tags }  %>

    <p><a data-toggle="modal" href="#contact-modal" class="btn btn-primary btn-large pull-right">Contact</a></p>
    <div class="clear-both">
      <h4>Recent Activity</h4>
      <% @activities.each do |activity| %>
        <div class="activity">
        <%= link_to activity.owner.name, activity.owner if activity.owner %>
        <%= render_activity activity %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="span4 offset1">
    <h4>Recommended Projects</h4>
    <% @mocs.each do |m| %>
      <%= render partial: "shared/mini_moc", locals: { m: m }  %>
    <% end %>
  </div>
</div>