<div class="row">
  <div class="span8">
    <div id="contact-modal" class="modal hide fade in" style="display: none; ">  
      <%= form_for @user.messages.new, remote:true do |f| %>
        <div class="modal-header">  
          <a class="close" data-dismiss="modal">×</a>  
          <h3>Contact <%= @user.name %></h3>  
        </div>  
        <div class="modal-body">  
          <div class=" message-subject">
            <%= f.text_field :subject , :placeholder => "Subject",  :class => "span5 message-subject-input"%>
          </div>
          <div class=" message-body ">
            <%= f.text_area :body , :placeholder => "Type your message here...", :rows => "8", :class => "span5 message-subject-input"%>
          </div>               
        </div>  
        <div class="modal-footer">  
          <%= f.submit "Send Message", :class => "btn btn-primary" %>
          <a href="#" class="btn" data-dismiss="modal">Cancel</a>  
        </div>  
      </div>
      <%= f.hidden_field :sender_id, value: "#{current_user.id}" %>
      <%= f.hidden_field :receiver_id, value: "#{@user.id}" %>
    <% end %>
  </div>

  <div class="span9">
    <% if current_user == @user %>
      <div class="clear-both">
        <h4>Recent Activity</h4>
        <% @activities.each do |activity| %>
          <div class="activity">
          <%= link_to activity.owner.name, activity.owner if activity.owner %>
          <%= render_activity activity %>
          </div>
        <% end %>
        <%= will_paginate @activities, renderer: BootstrapPagination::Rails %>
      </div>
    <% end %>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-pills">
          <li class="pull-right"><a href="#tab2" data-toggle="tab">Completed Mocs (<%= @completed.count %>)</a></li>
          <li class="pull-right active"><a href="#tab1" data-toggle="tab">Joined Mocs (<%= @commitments.count %>)</a></li>
        </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <%= render partial: 'posts/post', collection: @commitments, as: :post %>
        </div>
        <div class="tab-pane" id="tab2">
          <%= render partial: 'posts/post', collection: @completed, as: :post %>
        </div>
      </div><!-- tab content -->
    </div><!-- tabbable -->
  </div>

  <div class="span3">
    <%= large_profile_picture(@user) %>
    <h3 class=""><%= @user.name %></h3>
    <div class="big clear-both">
      <strong>Organization:</strong> <%= @user.organization.name %>
    </div>
    <div class="big">
      <strong>Specialities</strong>
      <div class="tag"><%= @user.specialities.map(&:name).join(", ") %></div>
    </div>
    <% if @user == current_user %>
      <%= link_to edit_user_registration_path do %>
        <i class='icon-edit'></i> edit profile 
      <% end %>
    <% end %>
    <br>
    <% if @user != current_user %>
      <div class="">
        <a data-toggle="modal" href="#contact-modal" class="btn btn-primary">Send Private Message</a>
      </div>
    <% end %>
    <hr>
    <%= render 'shared/recommended_posts' %>
  </div>
</div>