<div class="row">
  <div class="span9">
  <h3><%= @user.name %></h3>
  <em></em>
  reputation:
  <h4>About Me</h4>

  <div id="modal" class="modal hide fade in" style="display: none; ">  
    <div class="modal-header">  
      <a class="close" data-dismiss="modal">×</a>  
      <h3>Contact <%= @user.name %></h3>  
    </div>  
    <div class="modal-body">  
      <div class="message-subject">
        <input class="message-subject-input" id="subject" name="subject" placeholder="Subject" type="text">
      </div>
      <div class="message-body">
        <input class="message-subject-input" id="subject" name="subject" placeholder="Subject" type="text">
      </div>               
    </div>  
    <div class="modal-footer">  
      <a href="#" class="btn btn-success">Send Message</a>  
      <a href="#" class="btn" data-dismiss="modal">Close</a>  
    </div>  
  </div>

    <div class="btn btn-primary">
      Contact 
    </div>

  </div>

  <div class="span4">
    <div class="well">
      <h4>Top Interests</h4>
      <%= render partial: "shared/tags", locals: { tags: @tags }  %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h4>MOCs Viewed</h4>
    <% @mocs.each do |m| %>
      <%= render partial: "shared/mini_moc", locals: { m: m }  %>
    <% end %>
  </div>
  <div class="span4">
    <h4>MOCs Following</h4>
    <% @mocs.each do |m| %>
      <%= render partial: "shared/mini_moc", locals: { m: m }  %>
    <% end %>
  </div>
  <div class="span4">
    <div class="well">
      <h4>Recent Activity</h4>
      <% @activities.each do |activity| %>
        <div class="activity">
        <%= link_to activity.owner.name, activity.owner if activity.owner %>
        <%= render_activity activity %>
        </div>
      <% end %>
    </div>
  </div>
</div>