<li class="media">
  <div class="pull-left">
    <% if user_signed_in? %>
      <%= link_to vote_up_comment_path(c) do %>
        <p><i class="icon-chevron-up <%= current_user.voted_for?(c) ? 'voted' : 'not-voted' %>"></i></p>
      <% end %>
      <div class="vote-count">
        <%= c.plusminus %>
      </div>
      <%= link_to vote_down_comment_path(c) do %>
        <p><i class="icon-chevron-down <%= current_user.voted_against?(c) ? 'voted' : 'not-voted' %>"></i></p>
      <% end %>
    <% end %>
  </div>        
  <a class="pull-left" href="#">
    <%= image_tag 'default_profile_pic.png', class:"media-object comment-pic" %>
  </a>
  <div class="media-body">
    <div class="media-heading"><%= link_to c.commentable.user do %><%= c.commentable.user.name %> <% end %></div>
    <div><%= c.content %></div>
  </div>
</li>