<li class="media">
  <div class="pull-left votes">
    <%= link_to vote_up_comment_path(c) do %>
      <i class="icon-circle-arrow-up <%= current_user.voted_for?(c) ? 'voted' : 'not-voted' %>"></i>
    <% end %>
    <%= c.plusminus %>
  </div>        
  <a class="pull-left" href="#">
    <%= profile_picture(c.user) %>
  </a>
  <div class="span5">
    <div><%= raw c.content %></div>
    <div class='text-right muted small'>commented <%= time_ago_in_words(c.created_at) %> ago by <%= link_to "#{c.commentable.user.name}", c.user %>
  </div>
</li>