<li>
  <p>
    <%= link_to post_path(m) do %>
      <%= image_tag m.img_url, class:"trending" if m.img_url.present? %>
    <% end %>
      <%= link_to post_path(m) do %>
        <%= m.title %>
      <% end %>
    <p>Goal: <%= m.goal %></p>
  </p>
</li>