<li>
  <p>
    <%= link_to post_path(m) do %>
      <%= image_tag m.img_url, class:"trending" %>
    <% end %>
      <%= link_to post_path(m) do %>
        <%= m.title %>
      <% end %>
    <p>Goal: <%= m.goal %></p>
</li>