<div class="container">
  <!-- Masthead
  ================================================== -->
  <header class="jumbotron subhead" id="overview">
    <% unless user_signed_in? %>
      <div class="row">   
        <div class="span5">
          <h1>Rise to the Top</h1>      
          <span class="muted">Come, Learn, Contribute</span>
          <p class="lead">MOCs for Docs makes it fun to find a project for Maintenance of Certification part IV!</p>
        </div>
        <div class="span3 well">
          <h2>Login</h2>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div>
              <%= f.label :email %>
              <%= f.email_field :email %>
            </div>
            <div>
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>
            <div><%= f.submit "Login", class:"btn btn-primary" %></div>
          <% end %>
        </div>
        <div class="span3 well">
          <h2>Sign Up</h2>
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div>
              <%= f.label :email %>
              <%= f.email_field :email %>
            </div>
            <div>
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>
            <div>
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>
            <div>
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %>
            </div>
            <div><%= f.submit "Register", class:"btn btn-primary" %></div>
          <% end %>
        </div>
      </div>
    <div class="row">
      <div class="span7">
        <blockquote>
          <p>“Seeing modern health care from the other side, I can say that it is clearly not set up for the patient. It is frequently a poor arrangement for doctors as well..."</p>
          <small>Ross I. Donaldson, MD of<cite title="Source Title">The Lassa Ward</cite></small>
        </blockquote>
      </div>
      <div class="span4 pull-right">
        <blockquote class="pull-right">
          <p>"The life so short, the craft so long to learn."</p>
          <small><cite title="Source Title">Hippocrates</cite></small>
        </blockquote>
      </div>
    </div> 
     <hr> 
  </header>
<% end %>
<div class="row">
  <div class="span8">
    <div class="jumbotron well clearfix" id="topicMenu">
      <%= form_tag posts_path, :method => :get, class:"form-search" do %>
        <div class="input-append">
          <%= text_field_tag :search, params[:search], class:"span6 search-query", placeholder:"Search Actions and #Tags" %>
          <%= button_tag "Search", name: nil, class:"btn" %>
        </div>
      <% end %>
      <div id="searchTags" class="pull-left">
      </div>
    </div>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#A" data-toggle="tab">Relevance</a></li>
      <li><a href="#B" data-toggle="tab">Rating</a></li>
      <li><a href="#C" data-toggle="tab">Activity</a></li>
      <li><a href="#D" data-toggle="tab">Near You</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="A">
        <% @mocs.each do |m| %>
          <div class="media">
            <a class="pull-left" href="project.html">
              <%= image_tag m.img_url, class:"img-polaroid" %>
            </a>
            <div class="media-body">
              <h4 class="media-heading">
                <%= link_to post_path(m) do %>
                  <%= m.title %>
                <% end %>
              </h4>
              <h6>Project Lead: <em><%= m.user.name %></em> </h6>
              <%= m.desc %>
              <div class="muted">
                  Participants: <em>25</em> Published: <em><%= m.nice_created_at_date %></em>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="tab-pane" id="B">
        
      </div>

      <div class="tab-pane" id="C">
        
      </div>
      <div class="tab-pane" id="D">

      </div>      
    </div>
  </div> <!-- /tabbable -->

  <div class="pagination">
    <ul>
      <li class="active"><a href="http://bootswatch.com/spruce/#">←</a></li>
      <li><a href="http://bootswatch.com/spruce/#">1</a></li>
      <li><a href="http://bootswatch.com/spruce/#">→</a></li>
    </ul>
  </div>
</div>

<div class="span4">
  <div class="well dark">
    <p class="muted">Trending Tags</p>
    <div id="trendingTags" data-tags="<%=@trending_tags %>">
    </div>
  </div>
    <div class="well dark">
      <p class="muted">Trending Projects</p>
      <ul>
        <% @trending_mocs.each do |tm| %>
        <li>
          <%= link_to post_path(tm) do %>
            <%= image_tag tm.img_url, class:"img-polaroid trending" %>
          <% end %>
            <h5 class="media-heading">
              <%= link_to post_path(tm) do %>
                <%= tm.title %>
              <% end %>
            <p>Project Lead: <em><%= tm.user.name %></em> <p>
        </li>
        <% end %>
      </ul>
      <% if false %>
      <h3><i>Top DOCs</i></h3>
        <ul>
          <% @trending_docs.each do |td| %>
          <li>
            <%= link_to user_path(td) do %>
              <%= image_tag td.avatar, class:"img-polaroid trending" %>
            <% end %>
              <h5 class="media-heading">
                blah
              </h5>
          </li>
          <% end %>
        </ul>
      <% end %>
    </div>
</div>
</div>