<div class="span4 offset4">
  <div class="span3 well">
   <h4>Login</h4>
   <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
     <%= devise_error_messages! %>
     <div>
       <%= f.label :email %>
       <%= f.email_field :email, :autofocus => true %>
     </div>
     <div>
       <%= f.label :password %>
       <%= f.password_field :password %>
     </div>
     <div><%= f.submit "Login", class:"btn btn-success pull-right" %></div>
   <% end %>
  </div>
  <div class="span12">
    <%= render "devise/shared/links" %>
  </div>
</div>

