<li class="media">  
  <a class="pull-left" href="#">
    <%= profile_picture(u.post.user) %>
  </a>
  <div class="span5">
    <p><strong>Subject:</strong><br>
      <%= raw u.subject %></p>
    <p><strong>Body:</strong><br>
      <%= raw u.body %></p>
    <div class='text-right muted small'>updated <%= time_ago_in_words(u.created_at) %> ago by <%= link_to u.post.user.name, u.post.user %>
  </div>
  <div class='text-right'>
    <%= link_to "Edit Update", edit_update_path(u), class:"small btn-mini btn" %>
    <%= link_to 'Delete Update', u, class:"small btn btn-mini", method: :delete, data: { confirm: 'Are you sure you would like to delete this update?' } %>
  </div>
  <% if current_user == u.post.user %>
  <% end %>
</li>