<div class="row">
  <div class="span10 offset1">
    <ul id="progressbar">
      <li data-step="0" class="active">Summary</li>
      <li data-step="1">Background</li>
      <li data-step="2">Baseline Data</li>
      <li data-step="3">Intervention(s)</li>
      <li data-step="4">Post Data</li>
      <li data-step="5">Wrap Up</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span8 offset1">
    <%= form_for(@post) do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <div class="row">
          <div class="strong big"><span class="muted">Step:1</span> Summary of Your QI project</div>
          <p class="muted">Physicians will be able to view this summary to find your Project and judge if they want to join. Be sure to include key words in the title and description. Pick an accurate <strong>Goal</strong> and include your best estimates of <strong>Time to Complete</strong> and <strong>Duration</strong>.</p>

          <label for="post_title">Project Title<span class="red">*</span></label>
          <%= f.text_field :title %>
        </div>
        <div class="row">
          <label for="goal_id">Project Goal<span class="red">*</span></label>
          <% if @post.goal.present? %>
            <%= f.select :goal_id, Goal.all.collect {|x| [x.name, x.id]}, :selected => @post.goal.id, prompt:"Select Goal" %>     
          <% else %>
            <%= f.select :goal_id, Goal.all.collect {|x| [x.name, x.id]}, prompt:"Select Goal" %>     
          <% end %>
        </div>
        <div class="row">
          <%= f.label :speciality_ids, "Specialities* (choose at least one)" %>
          <ul>
            <% for speciality in Speciality.find(:all) %>
              <li class="pull-left breathing-room">
                <label>
                  <%= check_box_tag "post[speciality_ids][]", speciality.id, @post.specialities.include?(speciality) %>
                  <%= speciality.name %>
                </label>
              </li>
            <% end %>  
          <ul>
        </div> 
        <div class="row">
          <%= f.label :desc, "Project Description*" %>
          <%= f.text_area :desc, class:"rich-text" %>
        </div>
        <div class="row">
          <% if current_user.stripe_recipient_id.present? %>
            <%= f.label :price_in_dollars, "Price*" %>
            <span class="bigger">$</span> <%= f.number_field :price_in_dollars, class:"price" %>
          <% else %>
            <div class="well">
              <label>Price</label>
              <strong>Free</strong> <%= link_to "(Start Accepting Payment)", new_recipient_path, class:"small", confirm:"Leaving this page will delete unsaved progress. Would you like to continue?" %>
              <%= f.hidden_field :price_in_dollars, value:"0" %>
            </div>
          <% end %>          
        </div>
        <div class="row">
          <div class="span3">
            <%= f.label :expected_time, "Time to Complete*" %>
            <%= f.number_field :expected_time, class:"price" %> hours
          </div>
          <div class="span3">
            <%= f.label :duration, "Estimated Duration*" %>
            <%= f.number_field :duration, class:"price" %> weeks
          </div>
        </div>
        <div class="row">
          <%= f.label :img_url, "Image URL (optional)" %>
          <%= f.text_field :img_url, class:"" %>
        </div>
        <div class="row">
          <%= f.label :video_url, "YouTube Video URL (optional)" %>
          <%= f.text_field :video_url, class:"" %>
        </div>
        <div class="row well clearfix">
          <h5>MOC Project Status (optional)</h5>
          <div class="span2">
            <%= f.label :credits, "MOC Credits (optional)" %>
            <%= f.number_field :credits, class:"price" %> 
          </div>
          <div class="span3">
            <%= f.label :begins_on do %>
            <i class="icon-calendar"></i> MOC Credit Open Date (optional)
            <% end %>
            <%= f.text_field :begins_on, value: "", class:"datepicker" %>
          </div>
          <div class="span3">
            <%= f.label :ends_on do %>
            <i class="icon-calendar"></i> MOC Credit Close Date (optional)
            <% end %>
            <%= f.text_field :ends_on, value: "", class:"datepicker" %>
          </div>
        </div>
        <div class="row">
          <div class="btn btn-gold btn-large next pull-right">Next <i class="icon-chevron-right"></i></div>
        </div>
      </fieldset>
      <fieldset style="display:none;">
        <div class="row">
          <div class="strong big"><span class="muted">Step:2</span> Review Background Information</div>
          <p class="muted">Here introduce the information, research, videos, articles, etc that a physician should review when preparing to complete this project. Please feel free to include links to external resources.</p>
          <%= f.text_area :info, class:"rich-text" %>
        </div>
        <div class="row">
          <div class="btn btn-large previous"><i class="icon-chevron-left"></i> Previous</div> <div class="btn btn-gold btn-large next pull-right">Next <i class="icon-chevron-right"></i></div>
        </div>
      </fieldset>
      <fieldset style="display:none;">
        <div class="row">
          <div class="strong big"><span class="muted">Step:3</span> Collect Baseline Data</div>
          <p class="muted">"You get more of what you measure," they say. Here, explain what your joiners should be measuring to be a success.</p>
          <%= f.text_area :baseline, class:"rich-text" %>
        </div>
        <div class="row">
          <div class="btn btn-large previous"><i class="icon-chevron-left"></i> Previous</div> <div class="btn btn-gold btn-large next pull-right">Next <i class="icon-chevron-right"></i></div>
        </div>
      </fieldset>
      <fieldset style="display:none;">
        <div class="row">
          <div class="strong big"><span class="muted">Step:4</span> Interventions</div>
          <p class="muted">Ok, here's where it gets really interesting. Specify the interactions, the concrete interventions that providers can do to improve their care.</p>
          <%= f.text_area :plan_do, class:"rich-text" %>
        </div>
        <div class="row">
          <div class="btn btn-large previous"><i class="icon-chevron-left"></i> Previous</div> <div class="btn btn-gold btn-large next pull-right">Next <i class="icon-chevron-right"></i></div>
        </div>
      </fieldset>
      <fieldset style="display:none;">
        <div class="row">
          <div class="strong big"><span class="muted">Step:5</span> Collect Post Intervention Data</div>
          <p class="muted">Now explain how they should collect data after the intervention to measure their success.</p>
          <%= f.text_area :post_test, class:"rich-text" %>
        </div>
        <div class="row">
          <div class="btn btn-large previous"><i class="icon-chevron-left"></i> Previous</div> <div class="btn btn-gold btn-large next pull-right">Next <i class="icon-chevron-right"></i></div>
        </div>
      </fieldset>
      <fieldset style="display:none;">
        <div class="row">
          <div class="strong big"><span class="muted">Step:6</span> Wrap Up</div>
          <p class="muted">Here, let folks know what they learned, what success should look like, what they should do to get MOC credits awarded (if applicable), where they can go for more information, and say congratulations!</p>
          <%= f.text_area :wrap_up, class:"rich-text" %>
        </div>
        <div class="row">
          <div class="btn btn-large previous"><i class="icon-chevron-left"></i> Previous</div>
        </div>
      </fieldset>
      <div class="actions row">
        <p>
          <% if params[:action] == "edit" %>
            <%= f.submit "Delete", class:'btn btn-danger btn-large', confirm: "This will permanently delete this project. Are you sure you would like to continue?"  %>
          <% elsif params[:action] == "new" %>
            <%= link_to "Cancel", posts_path, class:'btn btn-danger btn-large', confirm: "This will permanently delete this project. Are you sure you would like to continue?"  %>
          <% end %>
          <%= f.submit "Save & Quit", id:"save", class:'btn btn-large disabled'  %>
          <%= f.submit "Publish!", class:'btn btn-large disabled', id: "publish" %>
        </p>
        <p class="well alert-danger" id="saveTip"><i class="icon-check"></i> You must enter at least <strong>title</strong> and a <strong>Goal</strong> to save your project.</p>
        <p class="well alert-info"><i class="icon-desktop"></i> You will be able to publish once your project is complete</p>
      </div>
    </div>
  <% end %>
  
    <div class="span3">
      <div class="well alert-info">
        <span class="big"><i class="icon-user-md"></i> Tip</span></br>
        <p>
          <strong>"<span class='red'>*</span>"</strong> means the <strong>title</strong> and a <strong>goal</strong> are required to save a project for later.
        </p>
        <p>
          <strong>"*"</strong> means the row is required to <strong>publish</strong>.
        </p>
      </div>
      <% if current_user.stripe_recipient_id.present? && current_user.stripe_verified == false %>
        <div class="well alert-danger">
          <strong>Warning</strong> - Your bank account information could not be verified. We are reviewing your information. If you have any questions, please <%= mail_to "team@mocsfordocs.org", "Contact Us" %>
        </div>
      <% end %>
    </div>
  </div>
</div>