<div class="row">
  <div class="span6 offset1">
    <%= form_for(@post) do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title, "Project Title" %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :tag_list, "Topics (Key words or phrases separated by commas)" %> 
        <%= f.text_field :tag_list %>
      </div>  
      <div>
        <%= f.label :goal_ids %>
        <%= f.select :goal_ids, options_for_select(Goal.all.collect {|x| [x.name, x.id]}), prompt:"Select Goal" %>     
      </div>
      <div class="field">
        <%= f.label :desc, "Project Description" %>
        <%= f.text_area :desc %>
      </div>
      <div class="field">
        <div class="times-input">
          <%= f.label :expected_time, "Time to Complete" %>
          <%= f.number_field :expected_time, class:"price" %> hours
        </div>
        <div class="times-input">
          <%= f.label :duration, "Duration" %>
          <%= f.number_field :duration, class:"price" %> weeks
        </div>
      </div>
      <div class="field">
        <%= f.label :img_url, "Image URL" %>
        <%= f.text_field :img_url %>
      </div>
      <div class="field">
        <%= f.label :video_url, "YouTube Video URL" %>
        <%= f.text_field :video_url %>
      </div>
      <div class="field">
        <div class="times-input">
          <%= f.label :credits, "MOC Credits" %>
          <%= f.number_field :credits, class:"price" %> 
        </div>
        <div class="times-input">
          <%= f.label :price %>
          <span class="bigger">$</span> <%= f.number_field :price, class:"price" %>
        </div>
      </div>
      <div class="field">
        <div class="times-input">
          <%= f.label :begins_on, "Begins On", class:"input-medium" %>
          <%= f.text_field :begins_on %>
        </div>
        <div class="times-input">
          <%= f.label :ends_on, "Ends On", class:"input-medium" %>
          <%= f.text_field :ends_on %>
        </div>
      </div>
      <h4>Instructions</h4>
      <div class="field">
        <%= f.label :info, "Step 1: Background Information" %>
        <%= f.text_area :info %>
      </div>
      <div class="field">
        <%= f.label :baseline, "Step 2: Collect Baseline Data" %>
        <%= f.text_area :baseline %>
      </div>
      <div class="field">
        <%= f.label :plan_d, "Step 3: Plan, Do, Check, Act Cycles" %>
        <%= f.text_area :plan_do %>
      </div>
      <div class="field">
        <%= f.label :post_test, "Step 4: Post Test Data Collection" %>
        <%= f.text_area :post_test %>
      </div>
      <div class="field">
        <%= f.label :wrap_up, "Step 5: Wrap Up" %>
        <%= f.text_area :wrap_up %>
      </div>

      <div class="actions clear-both">
        <%= f.submit "Publish", class:'btn btn-inverse disabled btn-large', id: "publish"  %>
        <%= f.submit "Save w/o Publishing", class:'btn btn-success btn-large'  %>
        <% if params[:action] == "edit" %>
          <%= f.submit "Delete", class:'btn btn-danger', confirm: "This will permanently delete this project from the database. Are you sure you would like to continue?"  %>
        <% elsif params[:action] == "new" %>
          <%= link_to "Delete", posts_path, class:'btn btn-danger btn-large', confirm: "This will permanently delete this project from the database. Are you sure you would like to continue?"  %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="span4">
    <div class="well alert-info">
      <p><strong>Tips</strong></p>
      <p>
        Choose a <strong>title</strong> that is brief and descriptive
      </p>
      <p>
        Include a <strong>video</strong> stating the goals and benefits of the project and inviting doctors to join. To add a video, record a video and upload it to your YouTube channel, then paste the URL of the video into the "Video URL" field.
      </p> 
      <p>
        In the "Topics" field, include a list of topic <strong>keywords and phrases</strong> that searchable and popular identifiers for the topics of your project.
      </p>
    </div>
  </div>
</div>