<div class="media">
  <div class="pull-left">
    <%= link_to post_path(post) do %>
      <%= image_tag post.img_url, class:"img-polaroid moc-pic" %>
    <% end %>
    <% if user_signed_in? && current_user == post.user %>
      <%= link_to "Edit", edit_post_path(post), class:"pull-left btn margin-top" %>
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to post_path(post), class:"no-hover" do %>
        <%= post.title %>
      <% end %>
    </h4>
    <h6 class="pull-left">
      Project Lead: 
      <em><%= link_to "#{post.user.name}", user_path(post.user) %></em>
    </h6>
    <div class="pull-right">
      <%= render partial: "shared/tags", locals: { tags: post.tags }  %>
    </div>
    <div class="clear-both">
      <%= post.short_desc %> <%= link_to '(more)', post_path(post) %>
    </div>
    <div class="muted">
      Impressions: <em><%= post.impressions_count %></em> 
      State: <em><%= post.state %></em> 
      Published: <em><%= post.nice_created_at_date %></em> 
      Participants: <em>25</em> 
    </div>
  </div>
</div>