<div class="row">
  <div class="span2">
    <%= link_to post_path(post) do %>
      <%= image_tag post.img_url, class:"moc-pic" if post.img_url.present? %>
    <% end %>
    <% "<span class='label label-info'>New</label>" if post.new? %>
    <p>
      <ul style='margin:0'>
        <li><em>
          <% if post.user.deleted? %>
            <%= post.user.name %>
          <% else %>
            <%= link_to "#{post.user.name}", user_path(post.user), class:"muted" %>
          <% end %>
        </em></li>
        <li><%= post.user.organization.name %></li>
        <li><em><%= post.goal.name %></em> </li>
        <li>
        <% if user_signed_in? %>
          <% if current_user == post.user || current_user.admin? %>
            <%= link_to "Edit", edit_post_path(post), class:"margin-top" %>
          <% end %>
        <% end %>
        </li>
      </ul>
    </p>
  </div>
  <div class="span5">
    <h4 class="media-heading">
      <%= link_to post_path(post), class:"no-hover" do %>
        <%= post.title %>
      <% end %>
    </h4>

    <div class="clear-both">
      <%= post.short_desc %> <%= link_to '(more)', post_path(post) %>
    </div>
    <div class="text-left">
      <%= render partial: "shared/specialities", locals: { specialities: post.specialities }  %>
    </div>
  </div>
  <div class="span2">
    <ul>
      <li><em><%= post.impressions_count %> <i class="icon-eye-open"></i> Views</em></li>
      <li><em><%= post.commitments.count %> <i class="icon-user-md"></i> MDs Joined</em></li>
      <li><em><%= post.expected_time %> <i class="icon-time"></i> Hours</em></li>
      <li><em><%= post.duration %> <i class="icon-calendar"></i> Weeks</em></li>
      <li><em><%= post.credits %> <i class="icon-certificate"></i> Moc Credits</em></li>
      <li><em>$<%= post.price_in_dollars %> <i class="icon-money"></i> Price</em></li>
    </ul>
  </div>
</div>