<div class="media">
  <div class="span2">
    <%= link_to post_path(post) do %>
      <%= image_tag post.img_url, class:"moc-pic" %>
    <% end %>
    <% "<span class='label label-info'>New</label>" if post.new? %>
    <p>
      <ul style='margin:0'>
        <li><em><%= link_to "#{post.user.name}", user_path(post.user), class:"muted" %></em></li>
        <li><%= post.user.organization.name %></li>
        <li><em><%= post.goal %></em> </li>
        <li>
        <% if user_signed_in? && current_user == post.user %>
          <%= link_to "Edit", edit_post_path(post), class:"margin-top" %>
        <% end %>
        </li>
      </ul>
    </p>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to post_path(post), class:"no-hover" do %>
        <%= post.title %>
      <% end %>
    </h4>

    <div class="clear-both">
      <%= post.short_desc %> <%= link_to '(more)', post_path(post) %>
    </div>
    <div class="text-left">
      <%= render partial: "shared/tags", locals: { tags: post.tags }  %>
    </div>
    <p>
      <ul class="inline-list">
        <li><strong>Time:</strong> <em><%= post.expected_time %> hrs</em> </li>
        <li><strong>Duration:</strong> <em><%= post.duration %> wks</em> </li>
        <li><strong>Takers:</strong> <em><%= post.commitments.count %></em> </li>
        <li><strong>Credits:</strong> <em><%= post.credits %></em> </li>
      </ul>
    </p>
  </div>
</div>