<div class="row">
  <div class="span3">
    <div class="filter-set">
      <p class="muted indent">Network/Organization</p>
      <div class="text-center">
      <%= form_tag root_path, :method => :get, class:"form-search", id:"searchForm" do %>
      <ul class="text-left margin-left">
        <li>
          <label>
            <%= radio_button_tag "organization[]", 0, @organization == 0, class:"filter-el btn btn-primary active" %>
            All
          </label>
        </li>
        <li>
         <% if user_signed_in? %>
          <label>
            <%= radio_button_tag "organization[]", current_user.organization.id, @organization != 0, class:"filter-el btn btn-success active" %>
            <%= current_user.organization.name %>
          </label>
        <% end %>
        </li>
      </ul>
      </div>
    </div>
    <div class="filter-set">
      <hr>
      <p class="muted indent">Goals</p>
      <ul class="filter-item">
      <% for goal in Goal.find(:all) %>
        <div class="margin-left">
          <label>
            <%= check_box_tag "goal_ids[]", goal.id, goal.id.in?(@goals), class:'filter-el' %>
            <%= goal.name %>
          </label>
        </div>
      <% end %> 
      </ul>
    </div>
    <div class="filter-set">
      <hr>
      <p class="muted indent">Price</p>
      <ul class="margin-left">
        <li>
          <label>
            <%= radio_button_tag "price_range[]", 0..10000000, @price_range.eql?(0..10000000), class:"filter-el" %>
            All
          </label>
        </li>
        <li>
          <label>
            <%= radio_button_tag "price_range[]", 15000..10000000, @price_range.eql?(15000..10000000), class:"filter-el" %>
            $150+
          </label>
        </li>
        <li>
          <label>
            <%= radio_button_tag "price_range[]", 5000..14999, @price_range.eql?(5000..14999), class:"filter-el" %>
            $50-149
          </label>
        </li>
        <li>
          <label>
            <%= radio_button_tag "price_range[]", 100..4999, @price_range.eql?(100..4999), class:"filter-el" %>
            $1-49
          </label>
        </li>
        <li>
          <label>
            <%= radio_button_tag "price_range[]", -1..0, @price_range.eql?(-1..0), class:"filter-el" %>
            Free
          </label>
        </li>
      </ul>
    </div>
    <div class="">
      <hr>
      <p class="muted indent">Trending Projects</p>
      <ul>
        <% @trending_mocs.each do |tm| %>
          <%= render partial: "shared/mini_moc", locals: { m: tm }  %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="span9">
    <div class="tabbable">
      <div class="span8">
          <div class="input-append">
            <%= text_field_tag :search, params[:search], class:"span8", placeholder:"Search..." %>
            <button type="submit" class="btn btn-primary btn-search">
              <i class="icon-search"></i>
            </button>
          </div>
        <% end %>
      </div>
      <div class="span8 offset1">
        <ul class="nav nav-pills pull-right">
          <% if params[:search].present? %>
            <li class="pull-right"><a href="#C" data-toggle="tab">Newest</a></li>
            <li class="pull-right"><a href="#B" data-toggle="tab">Popular Now</a></li>
            <li class="pull-right active"><a href="#A" data-toggle="tab">Relevance</a></li>
          <% else %>
            <li class="pull-right"><a href="#B" data-toggle="tab">Newest</a></li>
            <li class="pull-right active"><a href="#A" data-toggle="tab">Popular Now</a></li>
          <% end %>
        </ul>
      </div>
    </div>
      <div class="tab-content">
        <% if params[:search].present? %>
          <div class="tab-pane" id="C">
            <%= render partial: "posts/post", collection: @recently_added, as: :post %>
            <%= will_paginate @recently_added, renderer: BootstrapPagination::Rails %>
          </div>
          <div class="tab-pane" id="B">
            <%= render partial: "posts/post", collection: @popular_now, as: :post %>
            <%= will_paginate @popular_now, renderer: BootstrapPagination::Rails %>
          </div>
          <div class="tab-pane active" id="A">
            <%= render partial: "posts/post", collection: @relevance, as: :post %>
            <%= will_paginate @relevance, renderer: BootstrapPagination::Rails %>
          </div>
        <% else %>
          <div class="tab-pane" id="B">
            <%= render partial: "posts/post", collection: @recently_added, as: :post %>
            <%= will_paginate @recently_added, renderer: BootstrapPagination::Rails %>
          </div>
          <div class="tab-pane active" id="A">
            <%= render partial: "posts/post", collection: @popular_now, as: :post %>
            <%= will_paginate @popular_now, renderer: BootstrapPagination::Rails %>
          </div>
        <% end %>
      </div><!-- tab-content -->
    </div> <!-- /tabbable -->
  </div><!-- /span8 -->