<div class="row">
  <div class="span8">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#A" data-toggle="tab">Newest</a></li>
        <li><a href="#B" data-toggle="tab">Activity</a></li>
        <!-- <li><a href="#C" data-toggle="tab"># Followers</a></li> -->
        <% if user_signed_in? %>
          <li><a href="#D" data-toggle="tab"><%= current_user.state %></a></li>
        <% end %>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="A">
          <%= render partial: "posts/post", collection: @posts, as: :post %>
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div>
        <div class="tab-pane" id="B">
          <%= render partial: "posts/post", collection: @posts_by_activity, as: :post %>
          <%= will_paginate @posts_by_activity, renderer: BootstrapPagination::Rails %>         
        </div>
        <% if false %>
          <div class="tab-pane" id="C">
            <%= render "posts/post", collection: @posts_by_followers, as: :post %>
            <%= will_paginate @posts_by_followers, renderer: BootstrapPagination::Rails %>        
          </div>
        <% end %>
        <% if user_signed_in? %>
          <div class="tab-pane" id="D">
            <%= render partial: "posts/post", collection: @posts_by_state, as: :post %>
            <%= will_paginate @posts_by_state, renderer: BootstrapPagination::Rails %>
          </div>      
        <% end %>
      </div><!-- tab-content -->
    </div> <!-- /tabbable -->
  </div><!-- /span8 -->

  <div class="span4">
    <div class="well dark">
      <p class="muted">Trending Topics</p>
      <%= render partial: "shared/tags", locals: { tags: @trending_tags }  %>
    </div>
    <div class="well dark">
      <p class="muted">Trending Projects</p>
      <ul>
        <% @trending_mocs.each do |tm| %>
          <%= render partial: "shared/mini_moc", locals: { m: tm }  %>
        <% end %>
      </ul>
    </div>
  </div>