<div class="row">
  <div class="span3">
    <div class="filter-set">
      <p class="muted indent">Network/Organization</p>
      <div class="text-center">
        <div class="btn-group" data-toggle="buttons-radio">
          <button class="btn btn-primary active">All</button>
          <button class="btn btn-success"><%= current_user.organization.name if user_signed_in? %></button>
        </div>
      </div>
    </div>
    <%= form_tag root_path, :method => :get, class:"form-search", id:"searchForm" do %>
    <div class="filter-set">
      <hr>
      <p class="muted indent">Goals</p>
      <ul class="filter-item">
      <% for goal in Goal.find(:all) %>
        <div>
          <%= check_box_tag "post[goal_ids][]", goal.id, true %>
          <%= goal.name %>
        </div>
      <% end %> 
      </ul>
    </div>
    <div class="filter-set">
      <hr>
      <p class="muted indent">Price</p>
      <ul>
        <li>
          <%= check_box_tag :terms_of_service, "", checked: true %>
          <%= label :terms_of_service, "100+", class:"checkbox inline" %>
        </li>
        <li>
          <%= check_box_tag :terms_of_service, "", checked: true %>
          <%= label :terms_of_service, "50-99", class:"checkbox inline" %>
        </li>
        <li>
          <%= check_box_tag :terms_of_service, "", checked: true %>
          <%= label :terms_of_service, "0-49", class:"checkbox inline" %>
        </li>
      </ul>
    </div>
    <div class="">
      <hr>
      <p class="muted indent">Trending Projects</p>
      <ul>
        <% @trending_mocs.each do |tm| %>
          <%= render partial: "shared/mini_moc", locals: { m: tm }  %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="span9">
    <div class="tabbable row">
      <div class="search-form span4">
          <div class="input-append">
            <%= text_field_tag :search, params[:search], class:"span4", placeholder:"Search..." %>
            <button type="submit" class="btn btn-primary btn-search">
              <i class="icon-search"></i>
            </button>
          </div>
        <% end %>
      </div>
      <div class="span5">
        <ul class="nav nav-pills pull-right">
          <li class="pull-right"><a href="#C" data-toggle="tab">Newest</a></li>
          <li class="pull-right"><a href="#B" data-toggle="tab">Highest Rated</a></li>
          <li class="pull-right active"><a href="#A" data-toggle="tab">Popular Now</a></li>
        </ul>
      </div>
    </div>
      <div class="tab-content">
        <div class="tab-pane" id="C">
          <%= render partial: "posts/post", collection: @recently_added, as: :post %>
          <%= will_paginate @recently_added, renderer: BootstrapPagination::Rails %>
        </div>
        <div class="tab-pane" id="B">
          <%= render partial: "posts/post", collection: @highest_rated, as: :post %>
          <%= will_paginate @highest_rated, renderer: BootstrapPagination::Rails %>
        </div>
        <div class="tab-pane active" id="A">
          <%= render partial: "posts/post", collection: @popular_now, as: :post %>
          <%= will_paginate @popular_now, renderer: BootstrapPagination::Rails %>
        </div>
      </div><!-- tab-content -->
    </div> <!-- /tabbable -->
  </div><!-- /span8 -->