<div class="row">
  <div class="span8">  
  <%= raw(youtube_embed(@post.video_url)) %>
    <div>
      <h3>
        <strong>
          <%= @post.title %>
          <% if user_signed_in? && current_user == @post.user %>
            <%= link_to 'Edit', edit_post_path(@post), style: "font-size:17px;" %>
          <% end %>
        </strong>
      </h3>
<!--  <p class="lead">
        by <a href="orgprofile.html">The American Madeup Association</a>
      </p> -->
      <span class="muted">Project Lead: <em><%= link_to "#{@post.user.name}", user_path(@post.user) %></em></span>
    </div>    
    <div>
      <i class="icon-star gold"></i> 78 Favorite</p>
      <div>
        <%= render partial: "shared/tags", locals: { tags: @post.tags }  %>
      </div>
    </div>       
    <div>
      <h3><strong>Summary</strong></h3>
      <p class="muted">
        <%= @post.desc %>
      </p>
    </div>
    <div>
      <p>
        <strong>Project Duration</strong>: 6 months
      </p>
      <p>
        <strong>Time Commitment</strong>: 3 hours / Week
      </p>
      <p>
        <strong>Views</strong>: <%= @post.impressions_count %>
      </p>
    </div>    
        <h3>Comments</h3>
        <%= render partial: 'comments/form' %>
    <ul class="media-list">
    <% @comments.each do |c| %>
      <% if c.id.present? %>
        <%= render partial: 'shared/comment', locals: { c: c } %>
      <% end %>
    <% end %>
    </ul>  
  </div>
    <div class="span4">
      <div class="min-well">
        <h5><i>Related projects</i></h5>
        <ul>
          <% @mocs.each do |m| %>
            <%= render partial: "shared/mini_moc", locals: { m: m }  %>
          <% end %>
        </ul>
      </div>
    </div>   
  </div>
</div>
