
<div id="contact-modal" class="modal hide fade in" style="display: none; ">  
  <%= form_for @post.user.messages.new, remote:true do |f| %>
    <div class="modal-header">  
      <a class="close" data-dismiss="modal">×</a>  
      <h3>Contact <%= @post.user.name %></h3>  
    </div>  
    <div class="modal-body">  
      <div class=" message-subject">
        <%= f.text_field :subject , :placeholder => "Subject", :class => "span5 message-subject-input"%>
      </div>
      <div class=" message-body ">
        <%= f.text_area :body , :placeholder => "Type your message here...", :rows => "8", :class => "span5 message-subject-input"%>
      </div>               
    </div>  
    <div class="modal-footer">  
      <%= f.submit "Send Message", :class => "btn btn-primary" %>
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>  
    </div>  
  <%= f.hidden_field :sender_id, value: "#{current_user.id}" %>
  <%= f.hidden_field :receiver_id, value: "#{@post.user.id}" %>
<% end %>
</div>
<% if !@post.published? %>
<div class="well alert-danger">
  This Moc is not published - <%= link_to 'continue editing', edit_post_path(@post) %>
</div>
<% end %>
<div class="tabbable pills-left"> <!-- Only required for left/right tabs -->
  <div class="span4">
    <ul>
      <li>
        <p>
          <strong>Project Lead:</strong>
          <em>
            <% if @post.user.present? %>
              <%= link_to "#{@post.user.name}", user_path(@post.user) %>, <%= @post.user.organization.name %>
            <% else %>
              <%= @post.user.name %>
            <% end %>
          </em>
        </p>
      </li>
      <li>
        <p><strong>Goal</strong>: <%= @post.goal.name %></p>
      </li>
      <li>
        <p><strong>Completion Time</strong>: <%= @post.expected_time %> Hours</p>
      </li>
      <li>
        <p><strong>Duration</strong>: <%= @post.duration %> Weeks</p>
      </li>
      <li>
        <p><strong>MOC Credits</strong>: <%= @post.credits %> Credits</p>
      </li>
      <li>
        <p><strong>Complete by</strong>: <%= @post.nice_ends_on %></p>
      </li>                  
      <% if current_user == @post.user || current_user.admin? %>
        <p><%= link_to 'Edit', edit_post_path(@post), class:"btn btn-mini" %></p>
      <% end %>
      <li class="big">
        <i class="icon-eye-open"></i> <%= @post.impressions_count %> Views | <i class="icon-user-md"></i> <%= @post.commitments.count %> Joiners</p>
      </li>
    </ul> 
      <% if current_user == @post.user || current_user.admin? %>
        <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>Physician Name</th>
                <th>Registered</th>
                <th>Progress</th>                                           
              </tr>
          </thead>   
          <tbody>
            <% @post.commitments.each do |c| %>
            <tr>
              <td><%= c.committed_user.name %></td>
              <td><%= c.nice_created_at_date %></td>
              <td>
                <div class="progress progress-striped">
                  <div class="bar bar-success" style="width: <%= c.percent_complete%>%;"></div>
                </div>
              </td>                                       
            </tr>
            <% end %>                           
          </tbody>
        </table>
      <% elsif current_user.committed_to?(@post) %>
        <h5>Your Progress</h5>
        <% if @commitment.progress >= 5 %>
          <div class="progress progress-striped progress-gold">
            <div class="bar" style="width: 100%;">
              <span class="progress-count">MOC Completed!</span>
            </div>
          </div>
        <% else %>
          <div class="progress progress-success progress-striped">
            <div class="bar" style="width: <%= @percent_complete %>%;"></div>
            <span class="progress-count"><span id="progress"><%= @commitment.progress %></span> / 6</span>
          </div>
          <div class="muted">
            complete by <%= @post.nice_ends_on %>
          </div>
        <% end %>
      <% end %>
    <ul class="nav nav-pills nav-stacked">
      <li class="active">
        <a href="#tab1" data-toggle="tab">
          Summary
        </a>
      </li>
      <li class="<%= current_user == @post.user || current_user.committed_to?(@post) ? '' : 'disabled'%>">
        <a href="#tab2" data-toggle="tab">
          <i class="<%= current_user.committed_to?(@post) && @commitment.progress >= 1 ? 'icon-check' : 'icon-check-empty'%>"></i> Review Information
        </a>
      </li>
      <li class="<%= current_user == @post.user || current_user.committed_to?(@post) ? '' : 'disabled'%>">
        <a href="#tab3" data-toggle="tab">
          <i class="<%= current_user.committed_to?(@post) && @commitment.progress >= 2 ? 'icon-check' : 'icon-check-empty'%>"></i> Collect Baseline Data
        </a>
      </li>
      <li class="<%= current_user == @post.user || current_user.committed_to?(@post) ? '' : 'disabled'%>">
        <a href="#tab4" data-toggle="tab">
          <i class="<%= current_user.committed_to?(@post) && @commitment.progress >= 3 ? 'icon-check' : 'icon-check-empty'%>"></i> Plan, Do, Check, Act
        </a>
      </li>
      <li class="<%= current_user == @post.user || current_user.committed_to?(@post) ? '' : 'disabled'%>">
        <a href="#tab5" data-toggle="tab">
          <i class="<%= current_user.committed_to?(@post) && @commitment.progress >= 4 ? 'icon-check' : 'icon-check-empty'%>"></i> Collect Post Test Data
        </a>
      </li>
      <li class="<%= current_user == @post.user || current_user.committed_to?(@post) ? '' : 'disabled'%>">
        <a href="#tab6" data-toggle="tab">
          <i class="<%= current_user.committed_to?(@post) && @commitment.progress >= 5 ? 'icon-check' : 'icon-check-empty'%>"></i> Wrap Up
        </a>
      </li>
    </ul>
    <%= render 'commitments/commit' if !current_user.committed_to?(@post) %>
    <hr>
    <%= render 'shared/recently_viewed_posts' %>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= raw(youtube_embed(@post.video_url)) if @post.video_url.present? %>
      <div>
        <h3>
          <%= @post.title %>
        </h3>
        <p class="tag">
          <%= raw @post.specialities.map(&:name).map { |t| t }.join(', ') %>
        </p>
        <% if @post.user != current_user %>
          <p>
            <a data-toggle="modal" href="#contact-modal" class="btn btn-primary">Contact Project Lead</a>
          </p>
        <% end %>
      </div>       
      <div>
        <h3><strong>Summary</strong></h3>
        <p class="muted">
          <%= raw @post.desc %>
        </p>
      </div>   
    </div>
    <div class="tab-pane" id="tab2">
      <h3>Review Background Information</h3>
      <%= raw @post.info %>
      <% if current_user.committed_to?(@post) %>
        <%= link_to increment_progress_commitment_path(@commitment), method: :put, class:"no-hover" do %>
        <div class="btn disabled btn-block 1">
          <i class="<%= @commitment.progress >= 1 ? 'icon-check' : 'icon-check-empty'%>"></i>
          <span class="todo-text <%= @commitment.progress >= 1 ? 'strike-through' : ''%>">Review Information</span>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane" id="tab3">
      <h3>Collect Baseline Data</h3>
      <%= raw @post.baseline %>
      <% if current_user.committed_to?(@post) %>
        <%= link_to increment_progress_commitment_path(@commitment), method: :put, class:"no-hover" do %>
        <div class="btn disabled btn-block 2">
          <i class="<%= @commitment.progress >= 2 ? 'icon-check' : 'icon-check-empty'%>"></i>
          <span class="todo-text <%= @commitment.progress >= 2 ? 'strike-through' : ''%>">Collect Baseline Data</span>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane" id="tab4">
      <h3>Intervention</h3>
      <%= raw @post.plan_do %>
      <% if current_user.committed_to?(@post) %>
        <%= link_to increment_progress_commitment_path(@commitment), method: :put, class:"no-hover" do %>
        <div class="btn disabled btn-block 3">
          <i class="<%= @commitment.progress >= 3 ? 'icon-check' : 'icon-check-empty'%>"></i>
          <span class="todo-text <%= @commitment.progress >= 3 ? 'strike-through' : ''%>">Plan, Do, Check, Act</span>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane" id="tab5">
      <h3>Collect Post Intervention Datas</h3>
      <%= raw @post.post_test %>
      <% if current_user.committed_to?(@post) %>
        <%= link_to increment_progress_commitment_path(@commitment), method: :put, class:"no-hover" do %>
        <div class="btn disabled btn-block 4">
          <i class="<%= @commitment.progress >= 4 ? 'icon-check' : 'icon-check-empty'%>"></i>
          <span class="todo-text <%= @commitment.progress >= 4 ? 'strike-through' : ''%>">Collect Post Test Data</span>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane" id="tab6">
      <h3>Wrap Up</h3>
      <%= raw @post.wrap_up %>
      <% if current_user.committed_to?(@post) %>
        <% unless @commitment.progress >= 5 %>
        <div class="text-right">
          <%= link_to increment_progress_commitment_path(@commitment), method: :put, class:"no-hover" do %>
            <div class="btn btn-block <%= @commitment.progress >= 4 ? 'btn-gold' : 'disabled'%>">Complete MOC</div>
          <% end %>
          <%= render 'commitments/reneg' %>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="span7">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#comments" data-toggle="tab">
              Comments (<%= @comments.count %>)
            </a>
          </li>
          <li>
            <a href="#updates" data-toggle="tab">
              Updates (<%= @post.updates.count %>)
            </a> 
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="comments">
            <%= render partial: 'comments/form' %>
            <ul class="media-list">
            <% @comments.each do |c| %>
              <% if c.id.present? %>
                <%= render partial: 'shared/comment', locals: { c: c } %>
              <% end %>
            <% end %>
            </ul>  
          </div>
          <div class="tab-pane" id="updates">
            <%= render partial: 'updates/form' %>
            <% if current_user == @post.user %>              
              
            <% end %>
            <ul class="media-list">
            <% @post.updates.each do |u| %>
              <% if u.id.present? %>
                <%= render partial: 'updates/update', locals: { u: u } %>
              <% end %>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
