<div class="row">
  <div class="span4">
    <%= youtube_embed(@post.video_url) %>
    <div>
      <%= raw @post.tags.map(&:name).map { |t| link_to "#" + t, tag_path(t), class:"label" }.join(' ') %>
    </div>
    <h4>Comments</h4>
    <textarea></textarea>
    <br />
    <a href="#" class="btn btn-success">Comment</a>
  </br></br>
    <div class="well dark span3">
      <h3><i>Related projects</i></h3>
      <ul>
        <li>
          <a href="project.html">
            <img class="img-polaroid" src="images/video_image7" width="100" height="75">
          </a>
            <h5 class="media-heading"><a href="project.html">Sample Project 7</a></h5>
            <p>Project Lead: <em>John Doe</em> <p>
        </li>
        <li>
          <a href="project.html">
            <img class="img-polaroid" src="images/video_image2.png" width="100" height="75">
          </a>
            <h5 class="media-heading"><a href="project.html">Sample Project 2</a></h5>
            <p>Project Lead: <em>John Doe</em> <p>
        </li>
        <li>
          <a href="project.html">
            <img class="img-polaroid" src="images/video_image9" width="100" height="75">
          </a>
            <h5 class="media-heading"><a href="project.html">Sample Project 9</a></h5>
            <p>Project Lead: <em>John Doe</em> <p>
        </li>
      </ul>
    </div>   
  </div>

  <div class="span4">       
    <div>
      <h3>
        <strong>
          <%= @post.title %>
          <% if user_signed_in? && current_user == @post.user %>
            <%= link_to 'Edit', edit_post_path(@post), style: "font-size:17px;" %>
          <% end %>
        </strong>
      </h3>
<!--  <p class="lead">
        by <a href="orgprofile.html">The American Madeup Association</a>
      </p> -->
      <p class="muted">
        Project Lead: <%= @post.user.name %>
      </p>
    </div>    
    <div>
      <button class="btn btn-success">Join</button>&nbsp;&nbsp;<p class="icon-ok muted">34 Joined</p>&nbsp;&nbsp;&nbsp;<button class="btn btn-inverse">Favorite</button>&nbsp;&nbsp;<p class="icon-star-empty muted">78 Favorited</p>&nbsp;&nbsp;&nbsp;
    </div>       
    <div>
      <h3><strong>Summary</strong></h3>
      <p class="muted">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.
      </p>
    </div>
    <div>
      <strong>Expected Project Duration</strong>
      <p>
        6 months
      </p>
      <strong>Approximate Time Commitment per Week</strong>
      <p>
        3 hours
      </p>
      <strong>Number of Projects Completed</strong>
      <p>
        8 completed
      </p>
    </div>      
  </div>
</div>

<div class="row clearfix">
    <div class="muted created-on">
      created on: <%= @post.created_at.strftime "%A %B %e" %>
    </div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags='G4B'>Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <div>
      <%= raw @post.tags.map(&:name).map { |t| link_to "#" + t, tag_path(t), class:"label" }.join(' ') %>
    </div>    
    <strong>Desc:</strong> <span class="muted"><%= @post.desc %></span><br><br>
    <% if @post.happening_on.present? %>
      <strong>Happening on:</strong> <%= @post.happening_on %><br>
    <% end %>
    <% if @post.starts_at.present? %>
      <strong>Starts at:</strong> <%= @post.starts_at %><br>
    <% end %>
    <% if @post.location.present? %>
      <strong>Location:</strong> <span class="muted"><%= @post.location %></span><br>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span6 text-center">
    <% if @post.img_url.present? %>
      <%= image_tag @post.img_url, width:200 %> 
    <% end %>
  </div>
  <div class="span6">
    <% if @post.video_url.present? %>
      <%= raw(youtube_embed(@post.video_url)) %>
    <% end %>
  </div>
</div>
<hr>
<% if @post.user == current_user %>
<div class="row border-bottom clearfix">
  <div class="span8">
    <h3>comments</h3>
    <ul class="media-list">
    <% @comments.each do |c| %>
      <li class="media">
        <div class="vote-count">
          <%= c.plusminus %>
        </div>
        <div class="pull-left">
          <% if user_signed_in? %>
            <%= link_to vote_up_comment_path(c) do %>
              <p><i class="icon-chevron-up <%= current_user.voted_for?(c) ? 'voted' : 'not-voted' %>"></i></p>
            <% end %>
            <%= link_to vote_down_comment_path(c) do %>
              <p><i class="icon-chevron-down <%= current_user.voted_against?(c) ? 'voted' : 'not-voted' %>"></i></p>
            <% end %>
          <% end %>
        </div>        
        <a class="pull-left" href="#">
          <%= image_tag 'default_profile_pic.png', class:"media-object comment-pic" %>
        </a>
        <div class="media-body">
          <div class="media-heading"><%= c.commentable.user.name %></div>
          <div class="pull-right muted"><%= c.content %></div>
        </div>
      </li>
    <% end %>
    </ul>
    <%= render partial: 'comments/form' %>
  </div>
  <div class="span4">
    blah
  </div>
</div>
<% end %>
