<div class="row">
  <div class="span8">  
  <%= raw(youtube_embed(@post.video_url)) %>     
    <div>
      <h3>
        <strong>
          <%= @post.title %>
          <% if user_signed_in? && current_user == @post.user %>
            <%= link_to 'Edit', edit_post_path(@post), style: "font-size:17px;" %>
          <% end %>
        </strong>
      </h3>
<!--  <p class="lead">
        by <a href="orgprofile.html">The American Madeup Association</a>
      </p> -->
      <span class="muted">Project Lead: <em><%= link_to "#{@post.user.name}", user_path(@post.user) %></em></span>
    </div>    
    <div>
      <i class="icon-star gold"></i> 78 Favorite</p>
      <div>
        <%= render partial: "shared/tags", locals: { tags: @post.tags }  %>
      </div>
    </div>       
    <div>
      <h3><strong>Summary</strong></h3>
      <p class="muted">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.
      </p>
    </div>
    <div>
      <strong>Expected Project Duration</strong>
      <p>
        6 months
      </p>
      <strong>Approximate Time Commitment per Week</strong>
      <p>
        3 hours
      </p>
      <strong>Number of Projects Completed</strong>
      <p>
        8 completed
      </p>
    </div>    
        <h3>comments</h3>
        <%= render partial: 'comments/form' %>
    <ul class="media-list">
    <% @comments.each do |c| %>
      <% if c.id.present? %>
        <%= render partial: 'shared/comment', locals: { c: c } %>
      <% end %>
    <% end %>
    </ul>  
  </div>
    <div class="span3">
      <div class="min-well">
        <h5><i>Related projects</i></h5>
        <ul>
          <% @mocs.each do |m| %>
            <%= render partial: "shared/mini_moc", locals: { m: m }  %>
          <% end %>
        </ul>
      </div>
    </div>   
  </div>
</div>
