<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Mocs" %></title>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag 'application', "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js" %>

<% if false %>
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
<% end %>
  </head>
  <body>  
    <% unless user_signed_in? || params[:action] == 'new' || params[:action] == 'show' || params[:action] == "about" || params[:action] == "how" %>
      <header class="jumbotron subhead" id="overview">
         <div class="row">   
           <div class="span7 offset1">
             <div class="row">
               <div class="span6 padding-top">
                 <h1>Be A MOC Star</h1>      
                 <span class="muted">Join, Learn, Contribute</span>
                 <p class="lead">MOCs for Docs makes it fun to find a project for Maintenance of Certification part IV!</p>
               </div>
             </div>
             <div class="row">
               <div class="span6">
    <!--         <blockquote>
                   <p>“Seeing modern health care from the other side, I can say that it is clearly not set up for the patient. It is frequently a poor arrangement for doctors as well..."</p>
                   <small>Ross I. Donaldson, MD of<cite title="Source Title">The Lassa Ward</cite></small>
                 </blockquote> -->
                 <div class="text-center">
                  <%= link_to "Request Free Access", new_user_registration_path, :class => "btn btn-large btn-gold" %>
                </div>
               </br>
               </br>          
                 <blockquote>
                   <p>"The life so short, the craft so long to learn."</p>
                   <small><cite title="Source Title">Hippocrates</cite></small>
                 </blockquote>
               </div>
             </div>
           </div>
             <div class="span4">
               <%= image_tag "doctor-02.jpg" %>
             </div>
          </div>
      </header>
    <% end %>

      <div class="navbar">
       <div class="navbar-inner">
        <ul class="nav" id="main-menu-left">
          <li>
            <%= link_to "MocsforDocs.org", root_path, class:"brand" %>
          </li>
          <li class="down"><%= link_to 'FAQ', how_path %></li>
          <li class="down"><%= link_to 'About', about_path %></li>

          <% if !user_signed_in? %>
          </ul> 
            <div class="pull-right">
              <%= form_for resource, :as => resource_name, :url => session_path(resource_name), class:"form-inline" do |f| %>
                <%= f.email_field :email, :autofocus => true, class:"input-medium", placeholder: "Email" %>
                <%= f.password_field :password, class:"input-medium", placeholder: "Password" %>
                <% if devise_mapping.rememberable? -%>
                  <%= f.hidden_field :remember_me, value: true %> 
                <% end -%>
                <%= f.submit "Login", class:"btn btn-success" %><br>
                <%= link_to "Forgot your password?", new_password_path(resource_name), class:"pull-right" %><br />
              <% end %>
            </div>
            </div>
          <% else %>
          </ul>
          <!-- DROPDOWN -->
          <div class="dropdown pull-right">
            <a  class="dropdown-toggle" href="#" data-toggle="dropdown" id="swatch-link">
              <div class=""> 
                <%= current_user.name %> <b class="caret"></b>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="icon-user"></i> Profile
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path do %>
                 <i class="icon-cog"></i> Settings
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: "delete" do %>
                  <i class="icon-off"></i> Logout
                <% end %>
              </li>
            </ul>
            </div>
            <ul class="pull-right inline-list further-down">
              <li>
                <%= link_to user_posts_path, class:"btn btn-gold hover" do %>
                  <i class="icon-briefcase"></i> My Mocs
                <% end %>
              </li>
              <li>
                <%= link_to messages_path, class:"btn btn-success hover" do %>
                  <i class="icon-envelope-alt"></i> Inbox
                <% end %>
              </li>
            </ul>
          <% end %>   
         </div>
       </div>
      <% unless user_signed_in? || params[:action] == 'new' || params[:action] == 'show' || params[:action] == "about" || params[:action] == "how" %>
      <div class="container">
        <div class="row">
          <div class="span4">
            <h3><i class="icon-user-md"></i> <span class="small">By Docs, for Mocs</span></h3>
            <p>
              MocsforDocs.org was inspired and started by a doctor backed by a team of former Epic employees in Madison, WI. We are dedicated to one thing and one thing only - the empowerment of doctors through open communication and collaboration.
            </p>
          </div>
          <div class="span4">
            <h3><i class="icon-shopping-cart"></i> <span class="small">QI Market Place</span></h3>
            <p>
              Our software is as easy as online shopping. We are a market place of QI Mocs projects. Give access to your Mocs away for free or charge to recoupe your costs.
            </p>
          </div>
          <div class="span4">
            <h3><i class="icon-dashboard"></i> <span class="small">System Services</span></h3>
            <p>
              We offer health systems of any size competitive services to apply, track,  your physican's progress and success with MOC credits. Contact us today to sign up for your organization's dashboards.
            </p>
          </div>
        </div>
      </div>
      <% else %>
        <div class="container">
          <%= bootstrap_flash %>
          <%= yield %>
        </div> <!-- /container -->
      <% end %>
    </div>


    <footer id="footer">
      <div class="links">
        &copy; MocsforDocs, LLC 2013
        <a href=mailto:"team@mocsfordocs.com">Contact Us</a>
      </div>
    </footer>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    
  </body>
</html>
